.card{
    justify-content: center;
    margin: 10px;
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    background: #E6E6FA;
    background: linear-gradient(to right, #8360c3, #2ebf91);
    
    
   }
   h1{

       color: white;
       font-weight: bold;
       text-align: center;
       font-size: xxx-large;
       margin-top: 5%;
   }

